* {
  box-sizing: border-box;
}

@media only screen and (min-width:600px) {
  .topnav {
    width: 25%;
    float: center;
  }

  .section {
    width: 75%;
  }

  select {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .topnav {
    width: 25%;
    float: center;
  }

  .section {
    width: 75%;
  }

  select {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .topnav {
    width: 20%;
  }

  .section {
    width: 79%;
  }

  select {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  div [class=column] {
    width: 400px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: center;
  }

  select {
    width: 100%;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url("booksbgedit.jpg");
  background-size: cover;
  background-position: top center;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

header {}

img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

nav {
  background-color: #4e2026;
  padding-top: 10px;
  padding-bottom: 0px;
  width: 100% height: auto;
  box-shadow: 0px 6px 18px #000, 0px -6px 18px #000;
}

h1 {
  float: center;
  text-align: center;
  font-size: 36px;
  color: #c6c6c6;
  padding-top: 10px;
  padding-bottom: 10px
}

h2 {
  font-size: 24px;
  color: ;
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  padding: 5px;
}

iframe {
  border: 0px;
  padding: 0px;
  margin: 0px;
  overflow-x: visible;
  overflow-y: scroll;
}

select {
  font-family: "Trebuchet", serif;
  font-size: 18px;
  border: 2px solid #eee;
  max-width: 800px;
  width: 100%;
  height: 40px;
}

header, section, div {
  margin: 0;
  padding-top: 0px;
  overflow: hidden;
}

footer {
  background-color: #4e2026;
  color: #c6c6c6;
  box-shadow: 0px 6px 18px #000, 0px -6px 18px #000;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 0px;
  position: sticky;
  display: block;
}

footer, ul li {
  text-align: center;
  color: #c6c6c6;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: #c6c6c6;
  font-size: 12px;
}

footer a:hover {
  color: grey;
  font-size: 12px;
  background-color: transparent;
}

.hr, #sechead {
  max-width: 900px;
  height: 5px;
  width: 100%;
  margin-top: 0px;
  border-color: #c6c6c6;
  box-shadow: none;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.topnav,
.section {
  float: left;
  padding: 15px;
  width: 100%;
}

#headerimg {
  max-width: 525px;
  max-height: auto;
  width: 100%;
  overflow-x: inherit;
  float: center;
}

.topnav {
  width: 100%;
  overflow: auto;
}

.topnav,
a {
  overflow: auto;
  margin: 0;
  padding: 0;
  float: center;
  text-align: center;
  font-family: "Trebucket", serif;
  font-weight: normal;
  line-height: 150%;
  line-height-step: 2;
  font-size: 24px;
  padding: 8px;
  padding-right: 8px;
  margin-bottom: 7px;
  background-color: transparent;
  color: #c6c6c6;
  box-shadow: 0 1px 3px rbga(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-decoration: none;
}

.topnav,
a:hover {
  background-color: #eeeeee;
  color: #c6c6c6;
}

.active {
  color: white;
}

@media screen and (max-width: 480px) {

  .topnav a,
  .topnav input[type=text],
  .about {
    float: none;
    display: block;
  }
}

.topnav input[type=text] {
  float: center;
  border: none;
  font-size: 24px;
  font-family: "Trebuchet", sans-serif;
}

@media screen and (max-width: 600px) {

  .topnav a,
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.column {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: table-cell;
}

#newbooks {
  background-color: grey;
  background: rbga(120, 120, 120, 0.5)
  margin: 0;
  padding: 0;
  border: 1px solid grey;
}

section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.section,
.forsale {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  color: black;
}

.section,
.forsale a {
  color: black;
}

.section,
.forsale a:hover {
  color: #4e2026;
}

.aboutmatt {
  margin: 0;
  padding: 0;
}

#name, #email, #QCform {
  width: 100%;
}

#respara {
  min-width: 480px;
  width: 100%;
  color: #000000;
  font-family: "Trebuchet", serif;
  font-size: 33px;
  line-height: 2;
  display: inline-block;
  vertical-align: top;
}

input[type=submit],
input[type=button] {
  background-color: transparent;
  color: #c6c6c6;
  border: 0px;
  font-family: "Trebuchet", serif;
  font-size: 18px;
  padding-top: -10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0px;
    margin-bottom: 0px;
  }

  .left {
    width: 35%;
  }

  .right {
    width: 65%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #biopic {
    width: 100%;
    max-width: 600px;
  }

  .bookstories {
    margin: 0px;
    padding: 0px;
  }

  .contactform {
    margin: 0px;
    width: 85%;
  }
